saves
logs
crash-reports
.mixin.out
zsrcr
patchouli_books
astralsorcery
journeymap
liteconfig
library
local
natives
screenshots
TombManyGraves
valkyrielib
zsrcr
userchache.json
usernamecache.json
workvscode.code-workspace
knownkeys.txt
options.txt
BotainaVars.dat
ExtraBotanyVars.dat
hmclversion.cfg
.ReAuth.cfg
config
llibrary